node_modules/
.git/
.expo/
.expo-shared/

.vscode/
.idea/

coverage/
dist/
web-build/

*.log
*.tmp

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*